body {
    grid-template-columns: 17rem auto;
}

.analisesTable {
    height: fit-content;
    margin-top: 6rem;
}

.analisesTable th {
    text-align: left;
    padding: 0.8rem;
}

.analisesTable td {
    padding: 1rem;
}

.analisesTable tbody tr:nth-child(odd) {
    background: var(--roxoclaro);
}

/*Sidebar*/
.sidebar2 {
    margin-top: 6rem;
    min-height: calc(100vh -5rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar2 a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 4vw 1.5rem 2vw;
    transition: var(--transition);
    background: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    color: var(--cinzaescuro);
}

.sidebar2 a i {
    font-size: 2rem;
    color: var(--cinzaescuro);
}

.sidebar2 a h5 {
    font-size: 500;
    color: var(--cinzaescuro);
}

.sidebar2 a:hover {
    background: var(--branco);
}

.sidebar2 a:hover * {
    color: var(--roxo);
}

.sidebar2 a.active {
    background: var(--branco);
    border-left: 0.5rem solid var(--roxo);
    padding-left: calc(2vw - 0.5rem);
}

.sidebar2 a.active * {
    color: var(--roxo);
}

@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .analisesTable thead tr, .analisesTable tbody tr {
    display: flex;
    flex-direction: column;
    }

    .analisesTable tbody tr:nth-child(even) {
        border-left: 2px solid var(--roxoclaro);
    }
}